/*
TABLE OF CONTENTS

1. BASE RULES
2. LAYOUT RULES
3. MODULE RULES
4. STATE RULES
5. THEME RULES
6. RESPONSIVE RULES

*/


/* 1. BASE RULES */

body {
    padding: 0;
    margin: 0;
    font: 300 16px/22px 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 40px;
    color: #d97925;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    margin-bottom: 12px;
}

h3 {
    font-size: 20px;
    color: #000;
    line-height: 22px;
    padding: 30px 0 0;
}

h2,
h5 {
    padding: 10px 5%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #013440;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}

ul {
    list-style-type: none;
}

span {
    padding: 5px;
}

.clear-fix {
    overflow: auto;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


/* 2. LAYOUT RULES */

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-box-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.section {
    padding: 30px;
}


/* 3. MODULE RULES */


/* Photo viewer styles - adapted from book "JavaScript & jQuery" by Jon Duckett */

#photo-viewer {
    max-height: 400px;
    max-width: 600px;
    overflow: hidden;
}

#thumbnails,
#photo-viewer {
    padding: 0 5%;
    max-width: 100%;
}

#thumbnails a {
    display: inline-block;
}

#photo-viewer img {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    padding: 0;
}

.thumb {
    padding-right: 10px;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    display: none;
}

.biopic {
    float: left;
    padding: 10px;
    max-width: 100%;
    border-radius: 50%;
    height: 145px;
    margin: 50px 0 0;
    vertical-align: top;
    display: none;
}

#lets-connect {
    text-align: center;
}


/* 4. THEME RULES */

.center-content {
    padding: 2.5% 5%;
}

.blue-text {
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #0b3f57;
}

.gradient-bg {
    background: linear-gradient(to right, #627186, #fbcaa1);
}

.white-text {
    color: #fff;
}

.gray {
    background-color: #f3f3f3;
    min-height: 200px;
    clear: both;
}

.dark-gray {
    background-color: #1f1f1f;
}

.header {
    background: linear-gradient(to right, #627186, #fbcaa1);
    border-bottom: 5px solid #0b3f57;
}

.name {
    font-size: 44px;
    color: #fff;
}

hr {
    margin-top: 20px;
    margin-bottom: 13px;
}


/* 5. STATE RULES */

a.active {
    opacity: 0.3%;
}


/* 6. MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
    ;
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
    ;
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
    ;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
    ;
}